<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body>
    <header>
        <h1>Add Your House</h1>
    </header>
    <main>
        <form action="/contact-us" method="POST">
            <input type="text" name="name" placeholder="Your House Name">
            <button type="submit">Submit</button>
        </form>
        <a href="/">Back to Home</a>
    </main>
</body>
</html>